{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block full_body %}
    <div class="container-login card">
        <div class="text-center">
            <img src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
                 alt="Workflow"
                 style="height: 1rem">
            <h2 class="">
                Connexion à votre compte IUTFolio
            </h2>
            <p class="">
                Ou
                <a href="#" class="">
                    Connexion via le CAS de l'URCA
                </a>
            </p>
        </div>
        <form method="post">
            <div class="">
                <div>
                    {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }},
                                <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}
                        <div>
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}"
                                   name="email" id="inputEmail" class="form-control" autocomplete="email"
                                   required autofocus placeholder="monemail@mail.com">
                        </div>
                    <div class="mt-2">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword"
                               autocomplete="current-password"
                               class="form-control"
                               required>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}">
                    <div class="flex items-center justify-between mt-2">
                        <div class="flex items-center">
                            <input id="remember-me" name="_remember_me" type="checkbox" class="">
                            <label for="remember-me" class="ml-2 block text-sm text-gray-900">
                                Se souvenir de moi
                            </label>
                        </div>

                        <div class="text-sm">
                            <a href="#" class=""> Mot de passe perdu ? </a>
                        </div>
                    </div>

                    <div class="mt-2 d-grid">
                        <button type="submit" class="btn btn-primary d-block">
                            Connexion
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
