<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta lang="fr">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %} | IUTFolio</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block full_body %}
    <header class="p-3 mb-3 border-bottom bg-primary">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{% if is_granted('ROLE_ETUDIANT') %}{{ path('etudiant_homepage_index') }}{% else %}{{ path('personnel_homepage_index') }}{% endif %}" class="d-flex align-items-center mb-2 mb-lg-0 text-light text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    IUTFolio
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a href="{% if is_granted('ROLE_ETUDIANT') %}{{ path('etudiant_homepage_index') }}{% else %}{{ path('personnel_homepage_index') }}{% endif %}"
                           class="nav-link px-2
                link-light">Dashboard</a></li>
                    {% if is_granted('ROLE_ETUDIANT') %}
                        <li><a href="{{ path('etudiant_trace_traces') }}" class="nav-link px-2 link-light">Vos
                                                                                                           traces</a>
                        </li>
                        <li><a href="#" class="nav-link px-2 link-light">Votre bilan de compétences</a></li>
                        <li><a href="#" class="nav-link px-2 link-light">Votre CV</a></li>
                        <li><a href="#" class="nav-link px-2 link-light">Votre portfolio public</a></li>
                    {% else %}
                        <li><a href="#" class="nav-link px-2 link-light">Vos traces</a></li>
                        <li><a href="#" class="nav-link px-2 link-light">Votre bilan de compétences</a></li>
                        <li><a href="#" class="nav-link px-2 link-light">Votre CV</a></li>
                        <li><a href="#" class="nav-link px-2 link-light">Votre portfolio public</a></li>
                    {% endif %}
                </ul>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        {% if is_granted('ROLE_ETUDIANT') %}
                            <li>
                                <a class="dropdown-item" href="{{ path('etudiant_profil_index') }}">
                                    Profil & paramètres
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a class="dropdown-item" href="{{ path('etudiant_profil_index') }}">
                                    Profil & paramètres
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main class="container">
        {% block body %}{% endblock %}
    </main>
    <footer class="bg-white mt-5">
        <div class="container d-flex flex-wrap justify-content-between align-items-center py-3">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <span class="text-muted">© 2022 David Annebicque | IUT de Troyes</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><i class="fas fa-globe"></i></a></li>
            </ul>
        </div>
    </footer>
{% endblock %}
</body>
</html>
